.App {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-areas:
    'head' ' main';
  grid-template-rows: 50px calc(100vh - 100px);
  gap: 20px;
}

.main {
  grid-area: main;
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
}