@import './../default_variables.scss';

.getreports {
    height: 100%;
    display: grid;
    grid-template-rows: 100px calc(100% - 100px);
    grid-template-areas:
        'form'
        'table';
}

.getreports__title {
    @extend .font-h2;
    text-align: left;
    margin: 0;
}

.getreports__form {
    grid-area: form;
    margin: 0;
}